{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}">
  <div class="hero">
    <div class="hero__inner color-{{ section.settings.color_scheme }}">
      <div class="wrapper">
        {% for block in section.blocks %}
          {% if block.type == 'frame' %}
            <div class="frame" style="padding:{{block.settings.matting_thickness}}px; background:{{block.settings.matting_color}}; border-width:{{block.settings.border_width}}px;">
              <div class="frame__inner">
                <img 
                  class="frame__inner__img {%- if block.settings.matting_thickness > 0 -%}{{' '}}frame__inner__img--with-matting{%- endif -%}" 
                  height="auto"
                  width="auto"
                  src="{{ block.settings.image | img_url: '400x' }}"
                  loading="lazy"
                  style="object-position:{{ block.settings.vertical_alignment }} {{ block.settings.horizontal_alignment }};"
                />
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.hero.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.hero.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.hero.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.hero.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.hero.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.hero.settings.color_scheme.label"
    }
  ],
  "blocks": [
    {
      "type": "frame",
      "name": "Frame",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image for Frame"
        },
        {
          "type": "number",
          "id": "matting_thickness",
          "label": "Matting Thickness",
          "info": "Enter a value (e.g 40) to create a mat around your image",
          "default": 0
        },
        {
          "type": "color",
          "id": "matting_color",
          "label": "Matting Color",
          "default": "#ffffff"
        },
        {
          "type": "number",
          "id": "border_width",
          "label": "Frame Thickness",
          "info": "Edit the value to adjust the frame width",
          "default": 20
        },
        {
          "type": "select",
          "id": "vertical_alignment",
          "label": "Photo alignment - vertical",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ],
          "default": "center"
        },
        {
          "type": "select",
          "id": "horizontal_alignment",
          "label": "Photo alignment - horizontal",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ]
}
{% endschema %}
